{{ 'blog-template.css' | asset_url | stylesheet_tag }}
{{ 'blog-item.css' | asset_url | stylesheet_tag }}
{%- liquid
  assign st = section.settings
  assign show_author = st.post_show_author
  assign show_tag = st.post_show_tags
  assign show_date = st.post_show_date
  assign show_share = st.post_show_share
  assign aspect_ratio = st.aspect_ratio
  assign custom_ratio = st.custom_ratio
  assign hover_effect = st.hover_effect
-%}
<script src="{{ 'blog.js' | asset_url }}" defer="defer"></script>

<section id="blog-posts-header" class="article-header-modern article-header-split">
  <div class="article-header-container">
    <div class="article-header-image-column">
      {%- if article.image -%}
        <div class="article-template__hero-container" {{ block.shopify_attributes }}>
          <div
            class="article-template__hero-{{ block.settings.image_height }} media article-featured-image"
            itemprop="image"
            {% if block.settings.image_height == 'adapt' and article.image %}
              style="padding-bottom: {{ 1 | divided_by: article.image.aspect_ratio | times: 100 }}%;"
            {% endif %}
          >
            <img
              srcset="
                {% if article.image.width >= 350 %}{{ article.image | image_url: width: 350 }} 350w,{% endif %}
                {% if article.image.width >= 750 %}{{ article.image | image_url: width: 750 }} 750w,{% endif %}
                {% if article.image.width >= 1100 %}{{ article.image | image_url: width: 1100 }} 1100w,{% endif %}
                {% if article.image.width >= 1500 %}{{ article.image | image_url: width: 1500 }} 1500w,{% endif %}
                {% if article.image.width >= 2200 %}{{ article.image | image_url: width: 2200 }} 2200w,{% endif %}
                {% if article.image.width >= 3000 %}{{ article.image | image_url: width: 3000 }} 3000w,{% endif %}
                {{ article.image | image_url }} {{ article.image.width }}w
              "
              sizes="(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 }}px, (min-width: 750px) calc(100vw - 10rem), 100vw"
              src="{{ article.image | image_url: width: 1100 }}"
              loading="lazy"
              width="{{ article.image.width }}"
              height="{{ article.image.height }}"
              alt="{{ article.image.alt | escape }}"
              class="article-hero-image"
            >
          </div>
        </div>
      {%- endif -%}
    </div>
    
    <div class="article-header-content-column">
      <div class="blog-post-header-content">
        <div class="article-template__back fw-500 fs-12 uppercase mb-10">
          <a href="{{ blog.url }}" class="article-template__link link animate-arrow">
            {{ blog.title }}
          </a>
        </div>
        <h1 class="article-template__title mb-15" itemprop="headline">{{ article.title | escape }}</h1>
        <div class="article-metas">
          {%- if show_author -%}
            <span
              class="article-author mt-5 mr-15 fw-500 fs-12 uppercase"
              itemprop="author"
              itemscope
              itemtype="http://schema.org/Person"
            >
              <svg width="16" height="16" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M12 11C14.2091 11 16 9.20914 16 7C16 4.79086 14.2091 3 12 3C9.79086 3 8 4.79086 8 7C8 9.20914 9.79086 11 12 11Z" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M6 21V19C6 17.9391 6.42143 16.9217 7.17157 16.1716C7.92172 15.4214 8.93913 15 10 15H14C15.0609 15 16.0783 15.4214 16.8284 16.1716C17.5786 16.9217 18 17.9391 18 19V21" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
              <span itemprop="name">{{ article.author }}</span>
            </span>
          {%- endif -%}
          {%- if show_date -%}
            <span
              class="article-date mt-5 mr-15 fw-500 fs-12 uppercase"
              itemprop="dateCreated pubdate datePublished"
            >
              <svg width="16" height="16" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M19 4H5C3.89543 4 3 4.89543 3 6V20C3 21.1046 3.89543 22 5 22H19C20.1046 22 21 21.1046 21 20V6C21 4.89543 20.1046 4 19 4Z" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M16 2V6" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M8 2V6" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M3 10H21" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
              {{- article.published_at | date: '%b %d %Y' -}}
            </span>
          {%- endif -%}
          {%- if blog.comments_enabled? -%}
            <span class="article-comments mt-5 mr-15 fw-500 fs-12 uppercase">
              <svg width="16" height="16" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M21 11.5C21.0034 12.8199 20.6951 14.1219 20.1 15.3C19.3944 16.7118 18.3098 17.8992 16.9674 18.7293C15.6251 19.5594 14.0782 19.9994 12.5 20C11.1801 20.0035 9.87812 19.6951 8.7 19.1L3 21L4.9 15.3C4.30493 14.1219 3.99656 12.8199 4 11.5C4.00061 9.92179 4.44061 8.37488 5.27072 7.03258C6.10083 5.69028 7.28825 4.6056 8.7 3.90003C9.87812 3.30496 11.1801 2.99659 12.5 3.00003H13C15.0843 3.11502 17.053 3.99479 18.5291 5.47089C20.0052 6.94699 20.885 8.91568 21 11V11.5Z" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
              {{- 'blogs.article.comments' | t: count: article.comments_count -}}
            </span>
          {%- endif -%}
        </div>
        {%- if show_tag -%}
          <div class="article-tags mt-20">
            {% for tag in article.tags %}
              <a class="blog-posts-tag fs-12 fw-500" rel="tag" href="{{ blog.url }}/tagged/{{ tag | handleize }}">{{ tag }}</a>
            {% endfor %}
          </div>
        {%- endif -%}
      </div>
    </div>
  </div>
</section>

<section id="pageContent">
  <div class="{{ st.container }} section-full clearfix">
    <div class="row">
      <div class="col-blog-contents">
        <article
          class="article-template modern-article {% if settings.image_style != blank and section.settings.container != "full-width" %} radius {% endif %}"
          itemscope
          itemtype="http://schema.org/BlogPosting"
        >
          <div class="blog-content-wap">
            <div class="blog-article-contents blog-section">
              <div
                class="article-template__content page-width page-width--narrow rte modern-article-content"
                itemprop="articleBody"
                {{ block.shopify_attributes }}
              >
                {{ article.content }}
              </div>
              <div class="blog-article-bottom d-flex flex-wrap justify-content-between modern-article-bottom">
                {%- if show_tag -%}
                  <div class="blog-tag d-flex flex-wrap align-items-center">
                    <span class="heading-color fw-500 mb-10 mr-15">{{ 'blogs.article.tags' | t }}:</span>
                    <ul class="blog-meta-tag p-0 list-none my-0 d-flex flex-wrap flex-1">
                      {% for tag in article.tags limit: 8 %}
                        {% if current_tags contains tag %}
                          <li class="mr-10 mb-10 fs-small">{{ tag }}</li>
                        {% else %}
                          <li class="mr-10 mb-10 fs-small">{{ tag | link_to_tag: tag }}</li>
                        {% endif %}
                      {% endfor %}
                    </ul>
                  </div>
                {%- endif -%}
                {%- if show_share -%}
                  <div class="blog-sharing widget_socialsharing_widget d-flex flex-wrap align-items-center">
                    <span class="heading-color fw-500 mb-10 mr-10">{{ 'blogs.article.share' | t }}:</span>
                    <ul class="social-sharing list-unstyled d-flex flex-wrap justify-content-center fs-small mt-10">
                      <li class="mr-10 mb-10">
                        <a
                          class="btn-sharing btnTwitter bls_tooltip d-inline-flex social-icon"
                          href="javascript:void(0);"
                          data-social='https://twitter.com/intent/tweet?text={{ article.title | truncate: 30 | url_param_escape }} {{ canonical_url }}", "sharertwt", "toolbar=0,status=0,width=640,height=445'
                          aria-label="Share on Twitter"
                        >
                          <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M22 4.01C21 4.5 20.02 4.69 19 5C18.39 4.41 17.59 4.04 16.71 3.97C15.83 3.9 14.94 4.15 14.21 4.65C13.48 5.16 12.95 5.9 12.72 6.74C12.49 7.59 12.57 8.49 12.95 9.29C11.11 9.19 9.31 8.7 7.69 7.86C6.07 7.02 4.66 5.85 3.56 4.39C3.19 5.06 2.99 5.82 3 6.59C3 8.11 3.84 9.47 5.11 10.24C4.29 10.21 3.49 9.99 2.79 9.58V9.63C2.79 10.59 3.13 11.52 3.75 12.26C4.38 13 5.25 13.5 6.21 13.66C5.45 13.87 4.64 13.88 3.87 13.69C4.13 14.5 4.65 15.21 5.34 15.72C6.04 16.23 6.88 16.51 7.74 16.51C6.1 17.8 4.05 18.5 1.94 18.49C1.62 18.49 1.29 18.47 0.97 18.43C3.11 19.8 5.59 20.53 8.12 20.52C16.1 20.52 20.45 13.94 20.45 8.29C20.45 8.09 20.45 7.9 20.44 7.7C21.44 6.95 22.29 6.01 22.95 4.93C22.06 5.34 21.11 5.61 20.13 5.74C21.16 5.11 21.93 4.12 22.3 2.93L22 4.01Z" fill="currentColor"/>
                          </svg>
                        </a>
                      </li>
                      <li class="mr-10 mb-10">
                        <a
                          class="btn-sharing btnFacebook bls_tooltip d-inline-flex social-icon"
                          href="javascript:void(0);"
                          data-social='https://www.facebook.com/sharer/sharer.php?u={{ canonical_url }}&p[images][0]={{ article.image | image_url: width: 480, height: 480 }}", "sharer", "toolbar=0,status=0,width=660,height=445'
                          aria-label="Share on Facebook"
                        >
                          <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M18 2H15C13.6739 2 12.4021 2.52678 11.4645 3.46447C10.5268 4.40215 10 5.67392 10 7V10H7V14H10V22H14V14H17L18 10H14V7C14 6.73478 14.1054 6.48043 14.2929 6.29289C14.4804 6.10536 14.7348 6 15 6H18V2Z" fill="currentColor" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                          </svg>
                        </a>
                      </li>

                      <li class="mr-10 mb-10">
                        <a
                          class="btn-sharing btnPinterest bls_tooltip d-inline-flex social-icon"
                          href="javascript:void(0);"
                          data-social='http://pinterest.com/pin/create/button/?url={{ canonical_url }}&amp;media={{ article.image | image_url: width: 480, height: 480 }}", "sharerpinterest", "toolbar=0,status=0,width=660,height=445'
                          aria-label="Share on Pinterest"
                        >
                          <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M9.04 21.54C10 21.83 10.97 22 12 22C14.6522 22 17.1957 20.9464 19.0711 19.0711C20.9464 17.1957 22 14.6522 22 12C22 10.6868 21.7413 9.38642 21.2388 8.17317C20.7362 6.95991 19.9997 5.85752 19.0711 4.92893C18.1425 4.00035 17.0401 3.26375 15.8268 2.7612C14.6136 2.25866 13.3132 2 12 2C10.6868 2 9.38642 2.25866 8.17317 2.7612C6.95991 3.26375 5.85752 4.00035 4.92893 4.92893C3.05357 6.8043 2 9.34784 2 12C2 16.25 4.67 19.9 8.44 21.34C8.35 20.56 8.26 19.27 8.44 18.38L9.59 13.44C9.59 13.44 9.3 12.86 9.3 11.94C9.3 10.56 10.16 9.53 11.14 9.53C12 9.53 12.4 10.16 12.4 10.97C12.4 11.83 11.83 13.06 11.54 14.24C11.37 15.22 12.06 16.08 13.06 16.08C14.84 16.08 16.22 14.18 16.22 11.5C16.22 9.1 14.5 7.46 12.03 7.46C9.21 7.46 7.55 9.56 7.55 11.77C7.55 12.63 7.83 13.5 8.29 14.07C8.38 14.13 8.38 14.21 8.35 14.36L8.06 15.45C8.06 15.62 7.95 15.68 7.78 15.56C6.5 15 5.76 13.18 5.76 11.71C5.76 8.55 8 5.68 12.32 5.68C15.76 5.68 18.44 8.15 18.44 11.43C18.44 14.87 16.31 17.63 13.26 17.63C12.29 17.63 11.34 17.11 11 16.5L10.33 18.87C10.1 19.73 9.47 20.88 9.04 21.57V21.54Z" fill="currentColor"/>
                          </svg>
                        </a>
                      </li>
                    </ul>
                  </div>
                {%- endif -%}
              </div>
            </div>

            {% if section.settings.post_next_previous %}
              {% if blog.previous_article != null or blog.next_article != null %}
                <div class="blog-previous-next d-flex flex-wrap justify-content-between align-items-center border-top border-bottom  blog-section">
                  {% if blog.previous_article != null %}
                    <a href="{{ blog.previous_article.url }}" class="previous flex-1">
                      <div class="content">
                        <div class="label-np fw-500 fs-12 uppercase grey-color">
                          <i class="icon-chevron-left mr-5"></i>
                          {{ 'blogs.article.previous_post' | t }}
                        </div>
                        <div class="text-title fs-18 mt-5">{{ blog.previous_article.title }}</div>
                      </div>
                    </a>
                  {% endif %}
                  {% if blog.next_article != null %}
                    <a href="{{ blog.next_article.url }}" class="next flex-1">
                      <div class="content text-right">
                        <div class="label-np fw-500 fs-12 uppercase grey-color">
                          {{ 'blogs.article.next_post' | t -}}
                          <i class="icon-chevron-right ml-5"></i>
                        </div>
                        <div class="text-title fs-18 mt-5">{{ blog.next_article.title }}</div>
                      </div>
                    </a>
                  {% endif %}
                </div>
              {%- endif -%}
            {%- endif -%}
            {% if section.settings.show_related_articles %}
              <div class="bls__blog-posts  blog-section">
                <div class="bls__section-header text-center">
                  {%- if st.related_articles_title != blank -%}
                    <h3 class="bls__section-heading mb-5">{{ st.related_articles_title }}</h3>
                  {%- endif -%}
                </div>
                <div class="bls__blog-posts-main hover-{{ st.hover_effect_infor }}">
                  {%- if blog.articles.size > 0 -%}
                    {% liquid
                      assign currentID = article.id
                    -%}
                    <div
                      class="swiper bls__swiper hover__show-nav"
                      id="bls__swiper-{{ section.id }}"
                      data-section-id="{{ section.id }}"
                      data-autoplay="false"
                      data-loop="false"
                      data-mobile="2"
                      data-tablet="2"
                      data-desktop="3"
                      data-spacing="30"
                    >
                      <div class="swiper-wrapper">
                        {%- for article in blog.articles limit: 8 -%}
                          {%- liquid
                            if article.id == currentID
                              continue
                            endif
                          -%}
                          <div class="swiper-slide">
                            {%- render 'article-card',
                              article: article,
                              show_tag: false,
                              show_excerpt: false,
                              show_readmore: true,
                              aspect_ratio: aspect_ratio,
                              custom_ratio: custom_ratio,
                              hover_effect: hover_effect
                            -%}
                          </div>
                        {%- endfor -%}
                      </div>
                      {% render 'swiper-control', show_bullet: false, show_arrow: true %}
                    </div>
                  {%- else -%}
                    <p>{{ 'blogs.article.empty' | t }}</p>
                  {%- endif -%}
                </div>
              </div>
            {% endif %}
            {%- if blog.comments_enabled? -%}
              <div class="article-template__comment-wrapper  blog-section">
                <div id="comments">
                  <div class="blog-comments">
                    {%- if article.comments_count > 0 -%}
                      {%- assign anchorId = '#Comments-' | append: article.id -%}
                      <h2
                        id="Comments-{{ article.id }}"
                        tabindex="-1"
                        class="text-center "
                      >
                        {{ 'blogs.article.comments' | t: count: article.comments_count }}
                      </h2>
                      {% paginate article.comments by 5 %}
                        <div class="article-template__comments">
                          {%- if comment.status == 'pending' and comment.content -%}
                            <article id="{{ comment.id }}" class="article-template__comments-comment d-flex">
                              <div class="author-image mr-20">
                                <svg
                                  width="70"
                                  height="70"
                                  viewBox="0 0 70 70"
                                  fill="none"
                                  xmlns="http://www.w3.org/2000/svg"
                                >
                                  <rect
                                    width="70"
                                    height="70"
                                    rx="35"
                                    fill="#F5F5F5" />
                                  <path d="M51.7693 48.6584C42.4282 39.554 27.5718 39.554 18.2307 48.6584C17.9297 48.9605 17.92 49.4577 18.221 49.7599C18.522 50.062 19.0075 50.0718 19.3085 49.7794C28.0476 41.2696 41.9427 41.2696 50.6818 49.7794C50.9925 50.0815 51.4877 50.0718 51.779 49.7599C52.08 49.4479 52.0703 48.9605 51.7693 48.6584Z" fill="#BBBBBB" />
                                  <path d="M35.0014 38.7157C40.1477 38.7157 44.3231 34.5241 44.3231 29.3578C44.3231 24.1915 40.1477 20 35.0014 20C29.855 20 25.6797 24.1915 25.6797 29.3578C25.6894 34.5241 29.855 38.7059 35.0014 38.7157ZM35.0014 21.5596C39.2932 21.5596 42.7694 25.0493 42.7694 29.3578C42.7694 33.6663 39.2932 37.156 35.0014 37.156C30.7095 37.156 27.2333 33.6663 27.2333 29.3578C27.243 25.0493 30.7095 21.5694 35.0014 21.5596Z" fill="#BBBBBB" />
                                </svg>
                              </div>
                              <div class="flex-1">
                                <div class="mb-5">
                                  <span class="author-comment heading-weight fs-12 uppercase">
                                    {{- comment.author -}}
                                  </span>
                                </div>
                                <div class="content-comment">
                                  {{ comment.content }}
                                </div>
                              </div>
                            </article>
                          {%- endif -%}
                          {%- for comment in article.comments -%}
                            <article
                              id="{{ comment.id }}"
                              class="article-template__comments-comment pb-30 mb-30 d-flex"
                            >
                              <div class="author-image mr-20">
                                <svg
                                  width="70"
                                  height="70"
                                  viewBox="0 0 70 70"
                                  fill="none"
                                  xmlns="http://www.w3.org/2000/svg"
                                >
                                  <rect
                                    width="70"
                                    height="70"
                                    rx="35"
                                    fill="#F5F5F5" />
                                  <path d="M51.7693 48.6584C42.4282 39.554 27.5718 39.554 18.2307 48.6584C17.9297 48.9605 17.92 49.4577 18.221 49.7599C18.522 50.062 19.0075 50.0718 19.3085 49.7794C28.0476 41.2696 41.9427 41.2696 50.6818 49.7794C50.9925 50.0815 51.4877 50.0718 51.779 49.7599C52.08 49.4479 52.0703 48.9605 51.7693 48.6584Z" fill="#BBBBBB" />
                                  <path d="M35.0014 38.7157C40.1477 38.7157 44.3231 34.5241 44.3231 29.3578C44.3231 24.1915 40.1477 20 35.0014 20C29.855 20 25.6797 24.1915 25.6797 29.3578C25.6894 34.5241 29.855 38.7059 35.0014 38.7157ZM35.0014 21.5596C39.2932 21.5596 42.7694 25.0493 42.7694 29.3578C42.7694 33.6663 39.2932 37.156 35.0014 37.156C30.7095 37.156 27.2333 33.6663 27.2333 29.3578C27.243 25.0493 30.7095 21.5694 35.0014 21.5596Z" fill="#BBBBBB" />
                                </svg>
                              </div>
                              <div class="flex-1">
                                <div class="mb-5">
                                  <span class="author-comment heading-weight fs-12 uppercase mr-20">
                                    {{- comment.author -}}
                                  </span>
                                  <span class="caption-with-letter-spacing   fs-12 grey-color">
                                    {{- comment.created_at | time_tag: format: 'date' -}}
                                  </span>
                                </div>
                                <div class="content-comment">
                                  {{ comment.content }}
                                </div>
                              </div>
                            </article>
                          {%- endfor -%}
                          {% render 'pagination', paginate: paginate, anchor: anchorId %}
                        </div>
                      {% endpaginate %}
                    {%- endif -%}
                  </div>
                  {% form 'new_comment', article %}
                    {%- liquid
                      assign post_message = 'blogs.article.success'
                      if blog.moderated? and comment.status == 'unapproved'
                        assign post_message = 'blogs.article.success_moderated'
                      endif
                    -%}
                    <h2 class="text-center ">{{ 'blogs.article.comment_form_title' | t }}</h2>
                    {%- if form.errors -%}
                      <div class="form__message error mb-30 icons-not-translate" role="alert">
                        <h3 class="form-status caption-large text-body fs-20 mb-10" tabindex="-1">
                          {{ 'templates.contact.form.error_heading' | t }}
                        </h3>
                        <ul class="form-status-list caption-large">
                          {%- for field in form.errors -%}
                            <li>
                              <a href="#CommentForm-{{ field }}" class="link">
                                {%- if form.errors.translated_fields[field] contains 'author' -%}
                                  {{ 'blogs.article.name' | t }}
                                {%- elsif form.errors.translated_fields[field] contains 'body' -%}
                                  {{ 'blogs.article.message' | t }}
                                {%- else -%}
                                  {{ form.errors.translated_fields[field] }}
                                {%- endif -%}
                                {{ form.errors.messages[field] }}
                              </a>
                            </li>
                          {%- endfor -%}
                        </ul>
                      </div>
                    {%- elsif form.posted_successfully? -%}
                      <div class="form-status-list form__message mb-30" role="status">
                        <p class="success d-inline-block" tabindex="-1">{{ post_message | t }}</p>
                      </div>
                    {%- endif -%}

                    <div
                      {% if blog.moderated? == false %}
                        class="article-template__comments-fields"
                      {% endif %}
                    >
                      <div class="article-template__comment-fields row row-cols-md-2" style="--bs-gutter-x: 2rem">
                        <div class="field field--with-error mb-30">
                          <label class="field__label" for="CommentForm-author">
                            {{- 'blogs.article.name' | t }}
                            <span aria-hidden="true">*</span>
                          </label>
                          <input
                            type="text"
                            name="comment[author]"
                            id="CommentForm-author"
                            class="field__input w-full"
                            autocomplete="name"
                            value="{{ form.author }}"
                            aria-required="true"
                            required
                            {% if form.errors contains 'author' %}
                              aria-invalid="true"
                              aria-describedby="CommentForm-author-error"
                            {% endif %}
                            placeholder="{{ 'blogs.article.name' | t }}"
                          >

                          {%- if form.errors contains 'author' -%}
                            <small id="CommentForm-author-error">
                              <span class="form__message error d-block mt-10">
                                {{- 'blogs.article.name' | t }}
                                {{ form.errors.messages.author }}.</span
                              >
                            </small>
                          {%- endif -%}
                        </div>
                        <div class="field field--with-error mb-30">
                          <label class="field__label" for="CommentForm-email">
                            {{- 'blogs.article.email' | t }}
                            <span aria-hidden="true">*</span>
                          </label>
                          <input
                            type="email"
                            name="comment[email]"
                            id="CommentForm-email"
                            autocomplete="email"
                            class="field__input w-full"
                            value="{{ form.email }}"
                            autocorrect="off"
                            autocapitalize="off"
                            aria-required="true"
                            required
                            {% if form.errors contains 'email' %}
                              aria-invalid="true"
                              aria-describedby="CommentForm-email-error"
                            {% endif %}
                            placeholder="{{ 'blogs.article.email' | t }}"
                          >
                          {%- if form.errors contains 'email' -%}
                            <small id="CommentForm-email-error">
                              <span class="form__message error d-block mt-10">
                                {{- 'blogs.article.email' | t }}
                                {{ form.errors.messages.email }}.</span
                              >
                            </small>
                          {%- endif -%}
                        </div>
                      </div>
                      <div class="article-template__comment-fields mb-30">
                        <label class="form__label field__label" for="CommentForm-body">
                          {{- 'blogs.article.message' | t }}
                          <span aria-hidden="true">*</span>
                        </label>
                        <textarea
                          rows="5"
                          name="comment[body]"
                          id="CommentForm-body"
                          class="text-area field__input w-full"
                          aria-required="true"
                          required
                          {% if form.errors contains 'body' %}
                            aria-invalid="true"
                            aria-describedby="CommentForm-body-error"
                          {% endif %}
                          placeholder="{{ 'blogs.article.message' | t }}"
                        >{{ form.body }}</textarea>
                      </div>
                      {%- if form.errors contains 'body' -%}
                        <small id="CommentForm-body-error">
                          <span class="form__message error d-block mt-10">
                            {{- 'blogs.article.message' | t }}
                            {{ form.errors.messages.body }}.</span
                          >
                        </small>
                      {%- endif -%}
                    </div>
                    {%- if blog.moderated? -%}
                      <p class="article-template__comment-warning caption">{{ 'blogs.article.moderated' | t }}</p>
                    {%- endif -%}
                    <div class="text-center">
                      <input
                        type="submit"
                        class="button btn-primary"
                        value="{{ 'blogs.article.post' | t }}"
                      >
                    </div>
                  {% endform %}
                </div>
              </div>
            {%- endif -%}
          </div>
        </article>
      </div>
    </div>
  </div>
</section>

<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "Article",
    "articleBody": {{ article.content | strip_html | json }},
    "mainEntityOfPage": {
      "@type": "WebPage",
      "@id": {{ request.origin | append: page.url | json }}
    },
    "headline": {{ article.title | json }},
    {% if article.excerpt != blank %}
      "description": {{ article.excerpt | strip_html | json }},
      {% endif %}
      {% if article.image %}
        "image" : [{{ article | image_url: width: article.image.width | prepend: "https:" | json }}],
        {% endif %}
        "datePublished": {{ article.published_at | date: '%Y-%m-%dT%H:%M:%SZ' | json }},
        "dateCreated": {{ article.created_at | date: '%Y-%m-%dT%H:%M:%SZ' | json }},
        "author": {
          "@type": "Person",
          "name": {{ article.author | json }}
        },
        "publisher": {
          "@type": "Organization",
          {% if settings.share_image %}
            "logo" : {
              "@type": "ImageObject",
              "height": {{ settings.share_image.height | json }},
              "url": {{ settings.share_image | image_url: width: settings.share_image.width | prepend: "https:" | json }},
              "width": {{ settings.share_image.width | json }}
            },
            {% endif %}
            "name": {{ shop.name | json }}
          }
        }
</script>

{% schema %}
{
  "name": "t:sections.main-article.name",
  "class": "section",
  "settings": [
    {
      "type": "select",
      "id": "container",
      "label": "t:sections.all.layout.label",
      "default": "container",
      "options": [
        {
          "value": "container",
          "label": "t:sections.all.layout.options__1.label"
        },
        {
          "value": "container-fluid",
          "label": "t:sections.all.layout.options__2.label"
        },
        {
          "value": "strecth-width",
          "label": "t:sections.all.layout.options__3.label"
        },
        {
          "value": "full-width",
          "label": "t:sections.all.layout.options__4.label"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "post_show_author",
      "label": "t:sections.main-article.settings.post_show_author.label",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "post_show_date",
      "label": "t:sections.main-article.settings.post_show_date.label",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "post_show_tags",
      "label": "t:sections.main-article.settings.post_show_tags.label",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "post_show_share",
      "label": "t:sections.main-article.settings.post_show_share.label",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "post_next_previous",
      "label": "t:sections.main-article.settings.post_next_previous.label",
      "default": true
    },
    {
      "type": "header",
      "content": "t:sections.main-article.settings.header__1.content"
    },
    {
      "type": "checkbox",
      "id": "show_related_articles",
      "label": "t:sections.main-article.settings.show_related_articles.label",
      "default": true
    },
    {
      "type": "text",
      "id": "related_articles_title",
      "label": "t:sections.main-article.settings.related_articles_title.label",
      "default": "Related articles"
    },
    {
      "type": "select",
      "id": "aspect_ratio",
      "label": "t:sections.main-article.settings.aspect_ratio.label",
      "default": "original",
      "options": [
        {
          "value": "original",
          "label": "t:sections.main-article.settings.aspect_ratio.options__1.label"
        },
        {
          "value": "16/9",
          "label": "16:9"
        },
        {
          "value": "3/4",
          "label": "3:4"
        },
        {
          "value": "4/3",
          "label": "4:3"
        },
        {
          "value": "1/1",
          "label": "1:1"
        },
        {
          "value": "custom",
          "label": "t:sections.main-article.settings.aspect_ratio.options__2.label"
        }
      ]
    },
    {
      "type": "text",
      "id": "custom_ratio",
      "label": "t:sections.main-article.settings.custom_ratio.label",
      "default": "21:9"
    },
    {
      "type": "select",
      "id": "hover_effect",
      "label": "t:sections.main-article.settings.hover_effect.label",
      "default": "zoom",
      "options": [
        {
          "value": "zoom",
          "label": "t:sections.main-article.settings.hover_effect.options__1.label"
        },
        {
          "value": "translate-to-top",
          "label": "t:sections.main-article.settings.hover_effect.options__2.label"
        },
        {
          "value": "translate-to-bottom",
          "label": "t:sections.main-article.settings.hover_effect.options__3.label"
        },
        {
          "value": "none",
          "label": "t:sections.main-article.settings.hover_effect.options__4.label"
        }
      ]
    },
    {
      "type": "select",
      "id": "hover_effect_infor",
      "label": "t:sections.main-article.settings.hover_effect_infor.label",
      "default": "none",
      "options": [
        {
          "value": "none",
          "label": "t:sections.main-article.settings.hover_effect_infor.options__1.label"
        },
        {
          "value": "text_overlay",
          "label": "t:sections.main-article.settings.hover_effect_infor.options__2.label"
        }
      ]
    }
  ]
}
{% endschema %}
